In [81]:
import pandas as pd 

data = [1, 7, 2] 
print(data) 
print(type(data)) 
  
my_series = pd.Series(data) 
print(type(my_series)) 
print(my_series.dtype) 
print(my_series[0]) 
print(my_series[2]) 
print(my_series[1]) 
print('Data series') 
print(my_series)

[1, 7, 2]
<class 'list'>
<class 'pandas.core.series.Series'>
int64
1
2
7
Data series
0    1
1    7
2    2
dtype: int64

In [82]:
import pandas as pd
import numpy as np

data = np.array(["afin", "panji", "zufar"])
print(data)
series = pd.Series(data)
print(series)

['afin' 'panji' 'zufar']
0     afin
1    panji
2    zufar
dtype: object

In [3]:
s2 = pd.Series(data=data, index=["Ketua", "Wakil", "Anggota"])
print(s2)

Ketua       afin
Wakil      panji
Anggota    zufar
dtype: object

In [83]:
data = ["Afin", 20000, "Aman"]
print(data)
s2 = pd.Series(data=data, index=["Nama", "Saldo", "Status"])
print(s2)

['Afin', 20000, 'Aman']
Nama       Afin
Saldo     20000
Status     Aman
dtype: object

In [84]:
data = {"Nama": "Afin", "Umur": 20, "Status": "Aman"}
s2 = pd.Series(data=data)
print(s2)

Nama      Afin
Umur        20
Status    Aman
dtype: object

In [87]:
s = pd.Series(data=data, index=["Nama", "Status", "Umur"])
print(s)
print("Data pertama adalah : ", s[0])
print("Data Kedua adalah : ", s[1])

Nama      Afin
Status    Aman
Umur        20
dtype: object
Data pertama adalah :  Afin
Data Kedua adalah :  Aman

C:\Users\user\AppData\Local\Temp\ipykernel_1396\1643641849.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Data pertama adalah : ", s[0])
C:\Users\user\AppData\Local\Temp\ipykernel_1396\1643641849.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Data Kedua adalah : ", s[1])

In [89]:
df = pd.DataFrame(
    {
        "Nama" : ["Afin", "Panji", "Zufar"],
        "Usia" : [20, 21, 22]
    }
)

print(df)
s = df["Usia"].squeeze()
print(s)

    Nama  Usia
0   Afin    20
1  Panji    21
2  Zufar    22
0    20
1    21
2    22
Name: Usia, dtype: int64

In [91]:
nama = pd.Series(["Afin", "Zufar", "Panji"], name="Nama")
print(nama)
df = pd.DataFrame(nama)
print(df)

0     Afin
1    Zufar
2    Panji
Name: Nama, dtype: object
    Nama
0   Afin
1  Zufar
2  Panji

In [93]:
umur = pd.Series([20, 21, 22], name="Umur")
status = pd.Series(["Aman", "Bahaya", "Bahaya"], name="Status")
df = pd.concat([nama, umur, status], axis=1)

print(df)

    Nama  Umur  Status
0   Afin    20    Aman
1  Zufar    21  Bahaya
2  Panji    22  Bahaya

In [94]:
data = [-10, -50, 20]
df = pd.DataFrame([data]).abs()
print(df)

    0   1   2
0  10  50  20

In [95]:
print(data)
df = pd.DataFrame([data]).add(10)
print(df)

[-10, -50, 20]
   0   1   2
0  0 -40  30

In [17]:
import pandas as pd
data1 = [10, 20, 0]
data2 = [-30, -40, 50]

df = pd.DataFrame([data1])
df2 = pd.DataFrame([data2])
df = pd.concat([df, df2], ignore_index=True)
print(df)

    0   1   2
0  10  20   0
1 -30 -40  50

In [25]:
data = 90,30,70
df = pd.Series(data).argmax()
print(df)

0

In [26]:
df = pd.Series(data).argmin()
print(df)

1

In [28]:
print(data)
df = pd.Series(data).argsort()
print(df)

(90, 30, 70)
0    1
1    2
2    0
dtype: int64

In [ ]:
df = pd.Series(data).copy()
print(df)

0    90
1    30
2    70
dtype: int64

In [31]:
print(data)
df = pd.Series(data).count()
print(df)

(90, 30, 70)
3

In [39]:
import pandas as pd
data1 = [10, 20, 0]
data2 = [30, 40, 50]

df = pd.Series(data1)
df2 = pd.Series(data2)
df3 = df.cov(df2)
print(df3)

-50.0

In [ ]:
df3 = df.div(df2)
print(df3)

0    0.333333
1    0.500000
2    0.000000
dtype: float64

In [42]:
print(df)
print(df2)
df3 = df.dot(df2)
print(df3)

0    10
1    20
2     0
dtype: int64
0    30
1    40
2    50
dtype: int64
1100

In [98]:
data = pd.Series([10, 20, 30, 40, 50, 20, 30, None])
print("Data Series:")
print(data)

Data Series:
0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
7     NaN
dtype: float64

In [99]:
data_drop = data.drop(labels=[1])
print(data_drop)

0    10.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
7     NaN
dtype: float64

In [100]:
data_unique = data.drop_duplicates()
print(data_unique)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
7     NaN
dtype: float64

In [49]:
data_no_na = data.dropna()
print(data_no_na)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
dtype: float64

In [52]:
print(data)
print(data.duplicated())

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
7     NaN
dtype: float64
0    False
1    False
2    False
3    False
4    False
5     True
6     True
7    False
dtype: bool

In [53]:
print("\nIndex nilai maksimum:", data.idxmax())

Index nilai maksimum: 4

In [54]:
print("Index nilai minimum:", data.idxmin())

Index nilai minimum: 0

In [56]:
print(data)
print(data.isin([20, 60]))

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
7     NaN
dtype: float64
0    False
1     True
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

In [57]:
print(data)
print(data.isna())

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
7     NaN
dtype: float64
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
dtype: bool

In [58]:
print(data)
print(data.isnull())

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
7     NaN
dtype: float64
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
dtype: bool

In [59]:
print(data)
print("\nNilai maksimum:", data.max())
print("Rata-rata:", data.mean())
print("Median:", data.median())
print("Nilai minimum:", data.min())

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
7     NaN
dtype: float64

Nilai maksimum: 50.0
Rata-rata: 28.571428571428573
Median: 30.0
Nilai minimum: 10.0

In [60]:
print(data_no_na)
print(data_no_na.mod(3))

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
dtype: float64
0    1.0
1    2.0
2    0.0
3    1.0
4    2.0
5    2.0
6    0.0
dtype: float64

In [61]:
print(data_no_na.mul(2))

0     20.0
1     40.0
2     60.0
3     80.0
4    100.0
5     40.0
6     60.0
dtype: float64

In [ ]:
print(data.notna())

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7    False
dtype: bool

In [64]:
print(data)
print("\nJumlah nilai unik:", data.nunique())

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
7     NaN
dtype: float64

Jumlah nilai unik: 5

In [65]:
data_pop = data.copy()
popped_value = data_pop.pop(2)
print("\nPopped value (index 2):", popped_value)
print("Data setelah pop:")
print(data_pop)

Popped value (index 2): 30.0
Data setelah pop:
0    10.0
1    20.0
3    40.0
4    50.0
5    20.0
6    30.0
7     NaN
dtype: float64

In [66]:
print(data_no_na.pow(2))

0     100.0
1     400.0
2     900.0
3    1600.0
4    2500.0
5     400.0
6     900.0
dtype: float64

In [69]:
print(data)
data_replace = data.replace(30, 99)
print("\nReplace 20 dengan 99:")
print(data_replace)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
7     NaN
dtype: float64

Replace 20 dengan 99:
0    10.0
1    20.0
2    99.0
3    40.0
4    50.0
5    20.0
6    99.0
7     NaN
dtype: float64

In [101]:
data_sorted = data.sort_values(ascending=True)
print(data_sorted)

0    10.0
1    20.0
5    20.0
2    30.0
6    30.0
3    40.0
4    50.0
7     NaN
dtype: float64

In [102]:
print("\nStandar deviasi:", data.std())

Standar deviasi: 13.451854182690985

In [72]:
print(data_no_na)
print(data_no_na.sub(5))

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
dtype: float64
0     5.0
1    15.0
2    25.0
3    35.0
4    45.0
5    15.0
6    25.0
dtype: float64

In [73]:
print("\nJumlah total:", data.sum())

Jumlah total: 200.0

In [75]:
print(data)
print(data.to_dict())

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
7     NaN
dtype: float64
{0: 10.0, 1: 20.0, 2: 30.0, 3: 40.0, 4: 50.0, 5: 20.0, 6: 30.0, 7: nan}

In [76]:
print(data)
print(data.tolist())

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    20.0
6    30.0
7     NaN
dtype: float64
[10.0, 20.0, 30.0, 40.0, 50.0, 20.0, 30.0, nan]